# Pretty Print a DataFrame

In [34]:
import polars as pl

data = [
    {"id": 1, "name": f"Name-{i}", "details": {"Phone": "111-222-3333", "SSN": f"SSN-{i}"}}
    for i in range(1, 10)
]
df = pl.DataFrame(data)
df

shape: (9, 3)
┌─────┬────────┬──────────────────────────┐
│ id  ┆ name   ┆ details                  │
│ --- ┆ ---    ┆ ---                      │
│ i64 ┆ str    ┆ struct[2]                │
╞═════╪════════╪══════════════════════════╡
│ 1   ┆ Name-1 ┆ {"111-222-3333","SSN-1"} │
│ 1   ┆ Name-2 ┆ {"111-222-3333","SSN-2"} │
│ 1   ┆ Name-3 ┆ {"111-222-3333","SSN-3"} │
│ 1   ┆ Name-4 ┆ {"111-222-3333","SSN-4"} │
│ 1   ┆ Name-5 ┆ {"111-222-3333","SSN-5"} │
│ 1   ┆ Name-6 ┆ {"111-222-3333","SSN-6"} │
│ 1   ┆ Name-7 ┆ {"111-222-3333","SSN-7"} │
│ 1   ┆ Name-8 ┆ {"111-222-3333","SSN-8"} │
│ 1   ┆ Name-9 ┆ {"111-222-3333","SSN-9"} │
└─────┴────────┴──────────────────────────┘

## Print the Polars DataFrame as it is

In [35]:
df

shape: (9, 3)
┌─────┬────────┬──────────────────────────┐
│ id  ┆ name   ┆ details                  │
│ --- ┆ ---    ┆ ---                      │
│ i64 ┆ str    ┆ struct[2]                │
╞═════╪════════╪══════════════════════════╡
│ 1   ┆ Name-1 ┆ {"111-222-3333","SSN-1"} │
│ 1   ┆ Name-2 ┆ {"111-222-3333","SSN-2"} │
│ 1   ┆ Name-3 ┆ {"111-222-3333","SSN-3"} │
│ 1   ┆ Name-4 ┆ {"111-222-3333","SSN-4"} │
│ 1   ┆ Name-5 ┆ {"111-222-3333","SSN-5"} │
│ 1   ┆ Name-6 ┆ {"111-222-3333","SSN-6"} │
│ 1   ┆ Name-7 ┆ {"111-222-3333","SSN-7"} │
│ 1   ┆ Name-8 ┆ {"111-222-3333","SSN-8"} │
│ 1   ┆ Name-9 ┆ {"111-222-3333","SSN-9"} │
└─────┴────────┴──────────────────────────┘

## Use tabulate Python Library

Ref:

- https://pypi.org/project/tabulate/

In [36]:
from tabulate import tabulate
from pathlib import Path

dir_here = Path.cwd()
path = dir_here / "dataframe.txt"

text = tabulate(df.to_dict(), headers=list(df.schema),  tablefmt="grid")
path.write_text(text)
print(f"See Dataframe at: file://{path}")
print(text) # You can also write it to file

See Dataframe at: file:///Users/sanhehu/Documents/GitHub/learn_polars-project/docs/source/02-Pretty-Print/dataframe.txt
+------+--------+-------------------------------------------+
|   id | name   | details                                   |
+======+========+===========================================+
|    1 | Name-1 | {'Phone': '111-222-3333', 'SSN': 'SSN-1'} |
+------+--------+-------------------------------------------+
|    1 | Name-2 | {'Phone': '111-222-3333', 'SSN': 'SSN-2'} |
+------+--------+-------------------------------------------+
|    1 | Name-3 | {'Phone': '111-222-3333', 'SSN': 'SSN-3'} |
+------+--------+-------------------------------------------+
|    1 | Name-4 | {'Phone': '111-222-3333', 'SSN': 'SSN-4'} |
+------+--------+-------------------------------------------+
|    1 | Name-5 | {'Phone': '111-222-3333', 'SSN': 'SSN-5'} |
+------+--------+-------------------------------------------+
|    1 | Name-6 | {'Phone': '111-222-3333', 'SSN': 'SSN-6'} |
+------+--------+-------------------------------------------+
|    1 | Name-7 | {'Phone': '111-222-3333', 'SSN': 'SSN-7'} |
+------+--------+-------------------------------------------+
|    1 | Name-8 | {'Phone': '111-222-3333', 'SSN': 'SSN-8'} |
+------+--------+-------------------------------------------+
|    1 | Name-9 | {'Phone': '111-222-3333', 'SSN': 'SSN-9'} |
+------+--------+-------------------------------------------+